* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
}

.main_header
{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;
    box-shadow: 0 .1rem 2px 0 grey ;
    background-color: dodgerblue;
    position: sticky;
    border-radius: 0 0 30px 30px;
}

body

{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../login_reg/loginbg1.jpg");
    background-size: cover;

}

.menu
{
    list-style: none;
    display: flex;
    margin-top: 3px;
    margin-left: 80px;
}


a {

    
    color: white;
    text-decoration: none;
    padding: 15px;
    padding-left: 25px;
    font-size: 1.5rem;
    transition-property: text-shadow;
    transition-duration: 1s;
}
a:hover
{
text-shadow: 0px 0px 10px white;
}

.brand
{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}



.main
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;

}
.body-1
{
    margin-top:30px;
    height: 10vh;
    width: 30%;
    box-shadow: 0 0 10px 2px dodgerblue;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: height;
}
.body-1:hover{
    height: 70vh;
}

.heading
{

    font-size: 50px;
    margin-left: 90px;
    color: white;
    text-shadow: 0px 0px 10px dodgerblue;
}

.content
{
    
    color: rgb(0, 52, 103);
    width: 80%;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    margin-left: 45px;
}

.logo
{
    margin-top: 50px;
    font-size: 2rem;
    padding: 25px;
    margin-left: 80px;
}

li {
    margin: 10px 40px;
    color: white;
    font-size: 1.4rem;
    transition-property: color, scale, border-bottom;
    transition-duration: 0.5s;
    font-weight: 550;
    border-radius: 5px;
    padding: 0 10px;
  }
  
  li:hover {
    border-bottom: 3px solid white;
    scale: 1.2;
    cursor: pointer;
  }
  
  
  section>i {
    scale: 1;    
    margin-right: 10px;
    transition-duration: 1s;
    border-radius: 10px;
    transition-property: scale,background-color,color;
    padding: 5px;
  }
  section>i:hover
  {
    scale: 1.4;
  }

  .contact {

    border: none;
    border-bottom: 3px solid white;

  }
  


.button {
    border: none;
    margin: 5px 80px;
    color: white;
    font-size: 1.4rem;
    transition-property: color, scale, border-bottom;
    transition-duration: 0.5s;
    font-weight: 550;
    border-radius: 5px;
    padding: 0 10px;
    background-color: transparent;
  }
  
  .button:hover {
    border-bottom: 3px solid white;
    scale: 1.2;
    cursor: pointer;
  }
#gt:hover
{
    background-color: black;
    color: white;
}
#ig:hover{
    background-size: 100%;
    background-image: url(./igbg.jpg);
    color: white;
}
#fb:hover{

    background-color: #1877F2;
    color: white;
}

#ln:hover{

    background-color: #0077B5;
    color: white;
}